<!DOCTYPE html>
<html lang="en">

<head>
	<title>ATN SHOP</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="/public/images/css.css">
	<style>
		/* Remove the navbar's default rounded borders and increase the bottom margin */
		.navbar {
			margin-bottom: 50px;
			border-radius: 0;
		}

		/* Remove the jumbotron's default bottom margin */
		.jumbotron {
			margin-bottom: 0;
		}

		/* Add a gray background color and some padding to the footer */
		footer {
			background-color: #f2f2f2;
			padding: 25px;
		}
	</style>
</head>

<body>
	<div class="jumbotron">
		<div class="container text-center">
			<h1>ATN SHOP</h1>
			<p>Quality Makes Brand</p>
		</div>
	</div>

	<nav class="navbar navbar-inverse">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#">Logo</a>
			</div>
			<div class="collapse navbar-collapse" id="myNavbar">
				<ul class="nav navbar-nav">
					<li class="active"><a href="#">Home</a></li>
					<li><a href="#">Products</a></li>
					<li><a href="#">Deals</a></li>
					<li><a href="#">Stores</a></li>
					<li><a href="#">Contact</a></li>
				</ul>
			</div>
		</div>
	</nav>
	<div class="container">
		<h3> Product</h3>	
		<div class="well well-sm text-right"> <strong>Select display style</strong>
			<div class="btn-group"> <a href="#" id="list" class="btn btn-default btn-sm"><span
						class="glyphicon glyphicon-th-list"> </span>List Format</a> <a href="#" id="grid"
					class="btn btn-default btn-sm"><span class="glyphicon glyphicon-th"></span>Grid</a>
			</div>
		</div>
		<div id="products" class="row list-group">
			<div class="item  col-xs-4 col-lg-4">
				<div class="thumbnail"> <img class="group list-group-image"
						src="https://content2.rozetka.com.ua/files/images/original/197716987.jpg" alt="Product 1"
						width="300">
					<div class="caption">
						<h4 class="group inner list-group-item-heading">Name: Police Patrol Ship 1</h4>
						<div class="row">
							<div class="col-xs-12 col-md-12">
								<p class="lead"> Price: 1559000</p>
							</div>
							<div class="col-xs-12 col-md-6"> 
								<a class="btn btn-success" href="#">Description</a>
							</div>
							<div class="col-xs-12 col-md-6"> 
								<a class="btn btn-success" href="#">Add to cart</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="item  col-xs-4 col-lg-4">
				<div class="thumbnail"> <img class="group list-group-image"
						src="https://u6wdnj9wggobj.vcdn.cloud/media/catalog/product/cache/95cb36d3254e0a20b33361b06e7c0ce9/f/1/f1664_5_.jpg"
						alt="Product 2" width="300">
					<div class="caption">
						<h4 class="group inner list-group-item-heading"> Captain series Mech Strike 6 inch</h4>
						<div class="row">
							<div class="col-xs-12 col-md-12">
								<p class="lead"> Price: 569000</p>
							</div>
							<div class="col-xs-12 col-md-6"> <a class="btn btn-success" href="">Description</a>
							</div>
							<div class="col-xs-12 col-md-6"> 
								<a class="btn btn-success" href="#">Add to cart</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="item  col-xs-4 col-lg-4">
				<div class="thumbnail"> <img class="group list-group-image"
						src="https://u6wdnj9wggobj.vcdn.cloud/media/catalog/product/cache/95cb36d3254e0a20b33361b06e7c0ce9/1/1/11023_4_.jpg"
						alt="Product 3" width="300">
					<div class="caption">
						<h4 class="group inner list-group-item-heading"> Motorcycle Model 1:12 series Ducati Diavel
							Carbon</h4>
						<div class="row">
							<div class="col-xs-12 col-md-12">
								<p class="lead"> Price: 399000</p>
							</div>
							<div class="col-xs-12 col-md-6"> <a class="btn btn-success" href="">Description</a>
							</div>
							<div class="col-xs-12 col-md-6"> 
								<a class="btn btn-success" href="#">Add to cart</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="item  col-xs-4 col-lg-4">
				<div class="thumbnail"> <img class="group list-group-image"
						src="https://m.media-amazon.com/images/I/617uZuZUk6L._AC_SL1500_.jpg" alt="Product 4"
						width="300">
					<div class="caption">
						<h4 class="group inner list-group-item-heading"> Wltoys V950 Brushless 3D6G 6 Channel Control
							Helicopter </h4>
						<div class="row">
							<div class="col-xs-12 col-md-12">
								<p class="lead"> Price: 2500000</p>
							</div>
							<div class="col-xs-12 col-md-6"> <a class="btn btn-success" href="">Description</a>
							</div>
							<div class="col-xs-12 col-md-6"> 
								<a class="btn btn-success" href="#">Add to cart</a>
							</div>
						</div>
					</div>
				</div>
			</div>

			<br><br>

			{{!-- <footer class="container-fluid text-center">
				<p>Online Store Copyright</p>
				<form class="form-inline"> Get deals:
					<input type="email" class="form-control" size="50" placeholder="Email Address">
					<button type="button" class="btn btn-danger">Sign Up</button>
				</form>
			</footer> --}}

</body>

</html>